* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
} 

html, body {
    width: 100%;
    height: 100%;
    background-color: #cef5f7;
}

.container {
    padding: 10px 30px;  
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}




/* ------------------------------ *\
    stages image section start
\*------------------------------- */

.imgTxt .imgSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.imgSec .stage {
    /* color: #fff; */
    border-radius: 30px;
    padding: 10px 50px;
    /*background-color: #ff0000;*/
}
.stageImg.one {
    display: block;
}

.imgResultBox {
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /*background-color: #ff0000;*/
}

.imgResultBox .stageImg {
    width: 210px;
    border-radius: 50%;
    position: absolute;
}

/* ------------------------------ *\
    stages image section stop
\*------------------------------- */

.wrapper .imgTxtGraph {
    width: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.wrapper  .manageSec {
    width: 300px;
    background-color: #2cc5da;
    padding: 20px 20px 10px 30px;
}

.wrapper  .manageSec ol li{
    margin-top: 5px;
    font-size: 15px;
}

.wrapper  .manageSec ol .mangHeading {
    font-weight: 600;
    margin-top: 10px;
    font-size: 17px;
}


/* ------------------------------ *\
    stages text section start
\*------------------------------- */

.imgTxtGraph .imgTxt {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;

}

.imgTxt .txtSec {
    width: 50%;
    height: 300px;
    padding: 15px;
    /* background-color: #d3f6f8; */
    
}

.txtSec .stageHeading {
    text-align: center;
    margin-bottom: 20px;
}

.txtSec .userIn p{
    margin: 5px;
    font-size: 14px;
    color: #0674bd;
}

.txtSec .userIn span{
    font-size: 15px;
    font-weight: 600;
}

.txtSec .userIn ._span{
    font-size: 12px;
    padding: 2px;
}

.txtSec .currentResult {
    /* color: #fff; */
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: #ff0000;
}



/* ------------------------------ *\
    stages text section stop
\*------------------------------- */

/* ======================================================================================================== */

/* ------------------------------ *\
    line chart section start
\*------------------------------- */

.graph {
    width: 100%;
    height: 320px;
    display: flex;
    
    border: 5px solid #084457;
}
/* ------------------------------ *\
    line chart section stop
\*------------------------------- */









/* ------------------------------ *\
    Circle chart section start
\*------------------------------- */

.cirCharts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.cirBox {
    display: flex;
    gap: 20px;
    padding: 20px 10px 20px 25px;
    background-color: #81eedc;
    border-radius: 20px;
}

.cirbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}

.cirBox .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.cirBox .circle::before {
    content: "";
    position: absolute;
    inset: 9px;
    border-radius: 50%;
    background-color: #fff;
}

.cirBox .circle::after {
    content: '';
    width: 70px;
    height: 70px;
    background: #b9eef5;
    border-radius: 50%;
    position: absolute;
}

.cirBox .circle .number {
    color: #000000;
    z-index: 10;
    line-height: 1em;
    font-size: 1.5em;
    position: relative;
}

.cirBox .circle .number span {
    font-size: 0.5em;
    font-weight: 600;
}

.cirBox .cirText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
}

.cirBox .cirText h3 {
    margin-bottom: 10px;
    color: #078399;
}

.cirBox .cirText span {
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
}

/* ------------------------------ *\
    Circle chart section stop
\*------------------------------- */





@media only screen and (max-width: 1340px) {
    .wrapper  .manageSec {
        width: 90vw;
    }
    .wrapper .imgTxtGraph {
        width: 65vw;
    }

}

@media only screen and (max-width: 1074px) {
    .wrapper .imgTxtGraph {
        width: 85vw;
    }
    .cirCharts {
        flex-direction: row;
        justify-content: center;
    }

}

@media only screen and (max-width: 690px) {
    .container {
        padding: 10px;  
    }
    
    .imgTxtGraph .imgTxt {
        flex-direction: column;
        gap: 20px;
    }
    .imgTxt .txtSec {
        width: 70%;
        text-align: center;
    }
    .cirCharts {
        gap: 10px;
        /* flex-wrap: nowrap; */
    }

}

@media only screen and (max-width: 350px) {
    .imgTxtGraph .imgTxt { 
        margin-bottom: 20px;
    }
    .imgTxt .txtSec {
        width: 100%;
        text-align: center;
    }
}
